doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header.main-header
      img(src='https://restaurantclicks.com/wp-content/uploads/2022/05/restaurants-akron-ohio.jpg')
    block content
